# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
*.onetoc2
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/zhao2021calibrate - Calibrate before Use_ Improving Few Shot Performance of Language Models.html
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
