# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
*.onetoc2
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/zhao2021calibrate - Calibrate before Use_ Improving Few Shot Performance of Language Models.html
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/ganguli2023reducing - Reducing Harms in Language Models.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/gao2021making - Making Pre Trained Language Models Better Few Shot Learners.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/liu2022wanli - WANLI_ Worker and AI Collaboration for Natural Language Inference Dataset Creation.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/NeurIPS-2020-language-models-are-few-shot-learners-Bibtex.bib
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/ouyang2022training - Training Language Models to Follow Instructions with Human Feedback.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/perez2022discovering - Discovering Language Model Behaviors with Model Written Evaluations.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/radford2021learning - Learning Transferable Visual Models from Natural Language Supervision.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/zhao2021calibrate - Calibrate before Use_ Improving Few Shot Performance of Language Models.html
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/ganguli2023reducing - Reducing Harms in Language Models.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/gao2021making - Making Pre Trained Language Models Better Few Shot Learners.html
book_bibliography/Dettmers2023 - SpQR_ a Sparse Quantized Representation for near Lossless LLM Weight Compression.pdf
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/ganguli2023reducing - Reducing Harms in Language Models.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/gao2021making - Making Pre Trained Language Models Better Few Shot Learners.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/liu2022wanli - WANLI_ Worker and AI Collaboration for Natural Language Inference Dataset Creation.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/NeurIPS-2020-language-models-are-few-shot-learners-Bibtex.bib
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/ouyang2022training - Training Language Models to Follow Instructions with Human Feedback.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/perez2022discovering - Discovering Language Model Behaviors with Model Written Evaluations.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/radford2021learning - Learning Transferable Visual Models from Natural Language Supervision.html
HFDL_book_root/HFD_Chapter04/chapter04_references/references-04/New folder/zhao2021calibrate - Calibrate before Use_ Improving Few Shot Performance of Language Models.html
HFDL_book_root/HFD_Chapter05/Chapter05_references/NeurIPS-2020-language-models-are-few-shot-learners-Bibtex.bib
